body{
    background-color: rgb(6, 119, 156);
}

.box1{
    display: flex;
    gap: 20px;
}
.box{
    width:1500px;
    height: 610px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    line-height: 150px;
    text-align: center;
    font-size: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-bottom: 25px;
}


.labels{
    display: inline-block;
    font-weight: bold;
    
}
.all{
    text-align: center;
    
}
button{
    padding: 10px;
    width: 125px;
    border-radius: 20px;
}
button:hover{
    cursor:pointer;
    background-color: rgb(0, 255, 106);
    font-weight: bold;
    
}




